

h2 {
    color: #4aaaa5;
    padding: 10px;
    margin-top: 30px;
    font-family: "Times New Roman", Times, serif;
    font-weight: 900;
    border-bottom: 1px solid currentColor;
}


.Lat-heading {
    color: white !important;
    background-color: #4AAAA5;
    padding: 5px;
    font-size: 30px;
    font-family: "Times New Roman", Times, serif;
    font-weight: 900;
}

h3 {
    color: #4aaaa5;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
    font-weight: 600;
    text-align: center;

}

.white-pad {
    background-color: white;
}

.text-padding {
    padding: 20px
}

.white-data {
    background-color: white;
    padding: 70px
}

/* .align-tab {
    text-align: center;
    padding: 10px;
} */

/* .center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 } */

/* .visual-box {
    align-content: space-evenly;
} */

body {
    background-color: lightgrey;
    margin: 0px;
}

.margin-top {
    margin-top: 60px;
}

.white {
    background-color: white;
}

.float-left {
    float: left    
}

.nav-margin {
    margin: 0px;
}

.col-padding {
    margin: 10px;
    color: lightgrey;
}

.Data_head {
    color: #4AAAA5
}




/* Here we define some styles that will ONLY be applied at screen sizes below 600 pixels */
@media (max-width: 600px) {
    /* .box-1 {
      background: purple;
    } */

    /* .navbar {
        background-color: purple;
    } */
  
    /* .box-2 {
    background: yellow;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: solid 2px black;
    } */
  
    /* .box-3 {
      display: none;
    } */
  
    /* .box-4 {
      transform: rotate(360deg);
      transition: transform 0.5s ease-in;
    } */
  
    /* .box-5 {
      width: 0;
      height: 0;
      border-left: 50px solid transparent;
      border-right: 50px solid transparent;
      border-bottom: 100px solid red;
      background: none;
      margin-left: 300px;
    }